/* english version */

.english-padding-top {
	padding-top: 103px;
}

/* germany version */

.germany-padding-top {
	padding-top: 103px;
}

/* slovenian version */

.slovenian-padding-top {
	padding-top: 103px;
}

/* russian version */

.russian-padding-top {
	padding-top: 103px;
}

/* belorussian version */

.belorussian-padding-top {
	padding-top: 103px;
}

/* ukrainian version */

.ukrainian-padding-top {
	padding-top: 103px;
}
