@media print {
	a {
		text-decoration: none!important;
		color: #26303c;
	}

	.top-text {
		visibility: visible!important;
		opacity: .5!important;
	}

	.exclamation {
		padding-left: 0 !important;
	}

	.top-flags {
		visibility: hidden;
	}

	img.print, img.print-color, img.print-color-pdf, img.print-color-no {
		display: none;
	}

	.agreement {
		display: block!important;
	}

	td.padding-for-print {
		padding-top: 80px !important;
	}

	@media (min-width: 768px) {
		.col-md-12 {
			max-width: 80% !important;
		}
	}

	td.pdf-table img {
		height: 40px !important;
		width: 40px !important;
	}

	/* section.education td span.caption {
		padding-top: 25px !important;
	} */
}