@media print {
  a {
    text-decoration: none !important;
    color: #26303c;
  }

  td.w-50.left-info {
    padding-left: 100px !important;
  }

  td.w-50.right-info {
    padding-right: 200px !important;
    margin-left: 0 !important;
  }

  .top-text {
    visibility: visible !important;
    opacity: 0.5 !important;
  }

  .exclamation {
    padding-left: 0 !important;
  }

  .top-flags {
    visibility: hidden;
  }

  img.print,
  img.print-color,
  img.print-color-pdf,
  img.print-color-no {
    display: none;
  }

  td.pdf-table {
    display: none;
  }

  .agreement {
    display: block !important;
  }

  td.padding-for-print {
    padding-top: 50px !important;
  }

  /* section.education td span.caption {
		padding-top: 25px !important;
	} */
}
