html {
    font-family: 'PT Serif', serif;
    color: #26303c;
    font-size: 100%;
    line-height: 1.3em;
}

a {
	text-decoration: none;
}

.table th, .table td {
    border-top: none !important;
    padding-bottom: 0 !important;
}

ul {
    padding-left: 2rem !important;
    margin-top: -3px;
    line-height: 2rem;
}

ul li{
    line-height: 1.8rem;
}

p {
    padding-left: 0.75rem !important;
    margin-top: 0;
}

.table td, .table th {
    /* border-top: none !important; */
}

td {
    font-size: 16px;
}

section.info {
    padding-top:30px;
}

td.text-right {
    font-size: 14px;
}

td span.name {
    font-size: 24px;
    font-weight: bold;
    line-height: 40px;
}

td span.caption {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 30px;
}

td.brief {
    padding-top: 0;
    padding-bottom: 30px !important;
}


img.countries {
    height: 9px;
    position: relative;
}


tr td:first-child {
    width: 30%;
}


td.diploma-institute{
    padding-top: 14px !important;
    padding-bottom: 20px !important;
}

td.diploma-technical{
    padding-top: 14px !important;
}

tr.withlist td {
    margin: 0;
    padding: 0;
}


span.profession {
    padding-left: 0.75rem;
    display: block;
    padding-top: 18px;
    padding-bottom: 18px;
}

td.text-right.portfoliolinks {
    font-size: 16px;
    font-weight: 700;
}

td.text-right.skills {
    font-size: 16px;
    font-weight: 700;
    word-break: break-word;
}

p.goal {
    font-style: italic;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 100;
}

ul.flags {
    list-style: none;
    padding-left: 1rem !important;
    line-height: 1.5rem;
}

ul.social{
    list-style:none;
    padding-left: 1rem !important;
    line-height: 1.5rem;
}

section.skills ul li{
    line-height: 1.5em;
}

.website-text{
    text-align: right;
    font-size: 70%;
    padding-left: 25px !important;
}

section.data{
    /* display:none; */
    font-size: 80%;
}

/* img.social-icons {
    position: relative;
    top: 2px;
} */